/* IMPORTANT COLORS
red: ff0000
greenscreen: 00ff00
orange: ff8400
yellow: fff100
interface: 821dc6


*/


scene {
  width: 2500px;
  height: 1667px;
  display: inline-block;
  position: relative;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0pc;
  padding: 0px;
  background-color: lavender;
  overflow: hidden;
  font-family: 'Gill Sans', 'GillSans MT', sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

speech {
  position: absolute;
  background-image: url(Images/Textbox/TextBox.png);
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  height: 28%;
  width: 100%;
  color: #333333;
}
speech name {
  display: block;
  position: absolute;
  padding: 2px;
  color: white;
  top: 13%;
  left: 24%;
  font-size: xx-large;
  text-shadow: 0 0 5px black;
}
speech content {
  position: absolute;
  display: block;
  height: 41%;
  width: 64.5%;
  top: 32%;
  left: 28.5%;
  color: white;
  font-size: larger;
  text-shadow: 0 0 5px black;
}

speech.Thoughts {
  font-style: italic;
}

speech.Thoughts name{
  visibility: hidden;
}

speech.Protagonist name {
  color: rgb(202, 199, 201);
}

/* INVENTORY */
dialog[type="inventory"] {
  background-color: #555555DD;
  color: white;
}

dialog[type="inventory"] > ul {
  list-style-type: none;
}

dialog[type="inventory"] > ul > li{
  position: relative;
  width: 350px;
  height: 100px;
  padding: 5px;
  border: 2px solid;
}

dialog[type="inventory"] img {
  float: left;
  height: 100px;
  position: absolute;
  right: 5px;
  top: 5px;
}
dialog[type="inventory"] name {
  font-size: x-large;
}

dialog[type="inventory"] amount::before {
  content: " x";
}

dialog[type="inventory"] amount {
  font-size: x-large;
}

dialog[type="inventory"] description {
  display: block;
  padding-top: 5px;
}

dialog[type="inventory"] button {
  right: 5px;
  position: absolute;
  top: 5px;
  color: white;
  background-color: #AA0000;
  border: 1px;
  border-radius: 6px;
  width: 20px;
  height: 20px;
}

/* Interface */
div[type="interface"] {
  position: absolute;
  top: 0;
  width: 80px;
}

div[type="interface"] * {
  display: inline;
  width: 80px;
  margin: 0;
  padding: 0;
}

/* CHECKLIST MINIGAME */
#checklist {
  position: absolute;
  /* align-self: center; */
  top: 41%;
  background-color: white;
  width: 15%;
  left: 42.5%;
  height: 18%;
}

.gameMenu {
  position: absolute;
  bottom: 21%;
  background-color: #0000;
  border: none;
  left: 23%;
}

.gameMenu button{
  background-color: #0000;
  border: none;
  margin: 0 25px 0 25px;
  color: white;
  text-shadow: 0 0 5px #821dc6;
  font-size: larger;
}

.choice {
  background-color: #821dc666;
  border: solid 1px;
  border-radius: 5px;
  max-width: 30%;
}
.choice button{
  background-color: #00000066;
  border: none;
  margin: 10px 0;
  font-size: large;
  width: 100%;
  color: white;
  border-radius: 5px;
  padding: 5px;
}