/* IMPORTANT COLORS
red: ff0000
greenscreen: 00ff00
orange: ff8400
yellow: fff100
interface: 821dc6


*/


scene {
  width: 2500px;
  height: 1667px;
  display: inline-block;
  position: relative;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0pc;
  padding: 0px;
  background-color: #333333;
  overflow: hidden;
  font-family: 'Gill Sans', 'GillSans MT', sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

speech {
  position: absolute;
  background-image: url(Images/Textbox/TextBox.png);
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  height: 28%;
  width: 100%;
  color: #333333;
}
speech name {
  display: block;
  position: absolute;
  padding: 2px;
  color: white;
  top: 13%;
  left: 24%;
  font-size: xx-large;
  text-shadow: 0 0 5px black;
}
speech content {
  position: absolute;
  display: block;
  height: 41%;
  width: 64.5%;
  top: 32%;
  left: 28.5%;
  color: white;
  font-size: larger;
  text-shadow: 0 0 5px black;
}

speech.Thoughts {
  font-style: italic;
}

speech.Thoughts name{
  visibility: hidden;
}

speech.Protagonist name {
  color: rgb(202, 199, 201);
}

/* INVENTORY */
dialog[type="inventory"] {
  background-color: #555555DD;
  color: white;
  width: 60%;
  border: none;
}

dialog[type="inventory"] > ul {
  list-style-type: none;
  padding: 5px;
}

dialog[type="inventory"] > ul > li{
  position: relative;
  height: 115px;
  padding: 5px;
  background-image: url(Images/Textbox/ItemBox.png);
  background-size: cover;
}

dialog[type="inventory"] name {
  font-size: x-large;
  top: 27%;
  left: 27.5%;
  position: relative;
}
dialog[type="inventory"] amount {
  font-size: x-large;
  top: 27%;
  left: 27.5%;
  position: relative;
}
dialog[type="inventory"] amount::before {
  content: " x";
}

dialog[type="inventory"] > ul > li > img {
  position: relative;
  height: 80%;
  left: 7%;
  bottom: 33%;

}

dialog[type="inventory"] description {
  display: block;
  padding-top: 5px;
  position: relative;
  top: 20%;
  left: 27.5%;
  width: 67%;
}

dialog[type="inventory"] button {
  right: 5px;
  position: absolute;
  top: 5px;
  color: white;
  background-color: #AA0000;
  border: 1px;
  border-radius: 6px;
  width: 20px;
  height: 20px;
}

/* Interface */
div[type="interface"] {
  position: absolute;
  top: 0;
  width: 80px;
}

div[type="interface"] * {
  display: inline;
  width: 80px;
  margin: 0;
  padding: 0;
}

/* MENU */

.gameMenu {
  position: absolute;
  bottom: 21%;
  background-color: #0000;
  border: none;
  left: 23%;
}

.gameMenu button{
  background-color: #0000;
  border: none;
  margin: 0 25px 0 25px;
  color: white;
  text-shadow: 0 0 5px #821dc6;
  font-size: larger;
}

/* CHOICES */
.choice {
  background-color: #821dc666;
  border: solid 1px;
  border-radius: 5px;
  max-width: 30%;
}
.choice button{
  background-color: #00000066;
  border: none;
  margin: 10px 0;
  font-size: large;
  width: 100%;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer
}

.choice button:hover{
  box-shadow: 0px 0px 4px aquamarine;
  text-shadow: 0px 0px 4px aquamarine;
}

.hidden {
  visibility: hidden;
}

/* CREDITS */
dialog.flip{
  background-color: #821dc666;
  border: solid 3px #00000066;
  color: white;
  position: absolute;
  left: 72%;
  width: 5%;
  top: 43%;
  margin: 0;
}
dialog.flip button{
  background-color: #00000066;
  border: none;
  color: white;
  margin: 1% 0;
  width: 100%;
  padding: 3%;
  font-size: large;
}

dialog.flip button#back::before{
  content: "<< ";
  color: aquamarine;
}
dialog.flip button#next::after{
  content: " >>";
  color: aquamarine;
}

.credits{
  background-color: #00000066;
  border: solid 3px #821dc6;
  color: white;
  font-size: larger;
  width: 41%;
}
.credits b{
  color: #821dc6;
  font-size: xx-large;
}
.credits i{
  color: aquamarine;
  font-size: x-large;
}